<section class="subscription">
  <form action="https://vulncode.us18.list-manage.com/subscribe/post?u=b2ddd92c3efb68ed269c058b1&amp;id=7a6cadf9e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="sub-email">
      <input class="email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email address" required>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b2ddd92c3efb68ed269c058b1_7a6cadf9e9" tabindex="-1" value=""></div>
    <input class="submit" id="mc-embedded-subscribe" type="submit" name="subscribe" value="Subscribe">
  </form>
</section>