---
layout: default
---

{% include header.html %}

<div id="content">

  <article>

    <div class="center">
      <h1 class="title">{{ page.title }}</h1>
      <time class="code">{{ page.date | date: '%B %-d, %Y' }}</time>
    </div>

    <div class="divider"></div>

    {{ content }}

  </article>

  <div class="page-navigation code">
    {% assign index_link = page.categories | first %}

    <a class="home" href="{{ index_link | prepend: '/' | prepend: site.baseurl | prepend: site.url }}" title="Back">Back</a>


</div>

{% include footer.html %}